body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url('./Components/images/photo-1551682356-e0ed6286d440.jpg');
  background-repeat: no-repeat;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lists-container{
  line-height: 20px;
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  color: black;
}
.container{
  background-color: #dfe3e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.lists{
  display: grid;
  grid-template-columns: 75% 20%;
  justify-content: space-between;
  padding-left: 9%;
  text-align: start;
}

.card-container{
  background-color: white;
  color: black;
  padding: 0px 10px 0px 0px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 10px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 80% 10%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  text-align: start;
}

.card-container > p{
  margin: 0px;
  padding: 5%;
}

.cards{
  flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    min-height: 0;
}

.card-holder{
  background-color: #dfe3e6;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
}
.card-content>input {
  margin: 5px 10px 2px 0px;
  width: fit-content;
  height: fit-content;
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  color: white
}

.card-content  {
  margin-left: 12px;
  margin-bottom: 10px;
}

.card-content>p {
  margin: 0px;
  border-radius: 2px;
  padding-top: 4px;
  color: #4c4747;
  padding-top: 4px;
  font-weight: 600;
  font-size: 20px;
}
.fa-trash {
  margin-top: 5px;
  font-size: 15px;
  color: #ccc7c7
}

.fa-trash :hover {
  font-size: 28px;
  color: #756f6f
}

.input-button {
  color: #6b808c;
  font-size: 15px;
}
.create-list {
  background-color: #dfe3e6;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
}

.createList>input {
  border: none;
  border-radius: 3px;
  height: 30px;
}

.extra-content {
  display: flex;
}

.extra-content>input {
  margin: 5px 10px 2px 0px;
  width: fit-content;
  height: fit-content;
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  color: white
}

.extra-content>p {
  margin: 0px;
  border-radius: 2px;
  padding-top: 4px;
  color: #4c4747;
  padding-top: 4px;
  font-weight: 600;
  font-size: 20px;
}

.btn-style{
  height: 20px;
  width: 200px;
  padding: 5%;
  text-align: start;
}
.main-container{
  height: 100vh;
  width: 100vw;
  justify-content: start;
}

.overflow-auto{
  overflow: auto;
}